{% extends 'base_layout.html' %}
{% load static %}

{% block js %}

<!-- <script src="https://code.jquery.com/jquery-3.5.1.js" 
integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
crossorigin="anonymous"></script> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
$(function () {
      $("#id_resume_submited_date").datepicker(); });
   
  </script>
{% endblock %}


{% block content %}
    <div class="container">
      <div class="jumbotron">
        <h2 style="text-align:center">Update the Candidate Info</h2>
        <form method="POST" enctype="multipart/form-data">
           
            {% csrf_token %}
            {{ form.as_p}}
  
            <input type="submit" value="Update">
        </form>
      </div>
    </div>
{% endblock %}


